/* Базові стилі */

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Bold'), local('Proxima-Nova-Bold'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: #fff;
    color: #1E2E36;
    font-family: Proxima Nova, sans-serif;
    line-height: 125%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1818px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}

/* Header */

.header {
    position: relative;
}
.container-line {
    position: absolute;
    border-bottom: 1px solid #1E2E36;
    width: 100%;
    margin-top: 60px;
}
.header_section-contact-navigation {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.header_section-contact {
    display: flex;
    align-items: center;
}
.header_section-contact-social {
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.header_section-contact-text {
    font-size: 18px;
    margin-right: 5px;
}
.header_section-contact-list {
    display: flex;
}
.header_section-contact-element {
    margin-right: 5px;
}
.header_section-contact-element:last-child {
    margin-right: 0;
}
.header_section-contact-element-link {
    cursor: pointer;
}
.header_section-contact-phone-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #1E2E36;
    cursor: pointer;
}
.header_section-contact-phone-link-smartphone {
    margin-right: 5px;
}
.header_section-contact-phone-link-chevron {
    margin-left: 5px;
}
.header_section-navigation {
    /* display: flex; */
}
.header_section-navigation-list {
    display: flex;
}
.header_section-navigation-list-link {
    margin-right: 15px;
}
.list-link_line {
    border-bottom: 3px solid #44C697;
}
.header_section-navigation-list-link:last-child {
    margin-right: 0;
}
.header_section-navigation-list-link-element {
    text-decoration: none;
    font-size: 18px;
    color: #1E2E36;
}
