/* Базові стилі */

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Bold'), local('Proxima-Nova-Bold'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Light'), local('Proxima-Nova-Light'),
        url('ProximaNova-Light.woff2') format('woff2'),
        url('ProximaNova-Light.woff') format('woff'),
        url('ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #fff;
    color: #1E2E36;
    font-family: Proxima Nova, sans-serif;
    font-weight: 700;
    line-height: 125%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1818px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}

/* Header */

.header {
    position: relative;
}
.container-line {
    position: absolute;
    border-bottom: 1px solid #1E2E36;
    width: 100%;
    margin-top: 60px;
}
/*  */
.header_section-contact-navigation {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.header_section-contact {
    display: flex;
    align-items: center;
}
.header_section-contact-social {
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.header_section-contact-text {
    font-size: 18px;
    margin-right: 5px;
}
.header_section-contact-list {
    display: flex;
}
.header_section-contact-element {
    margin-right: 5px;
}
.header_section-contact-element:last-child {
    margin-right: 0;
}
.header_section-contact-element-link {
    cursor: pointer;
}
.header_section-contact-phone-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #1E2E36;
    cursor: pointer;
}
.header_section-contact-phone-link-smartphone {
    margin-right: 5px;
}
.header_section-contact-phone-link-chevron {
    margin-left: 5px;
}
.header_section-navigation {
    /* display: flex; */
}
.header_section-navigation-list {
    display: flex;
}
.header_section-navigation-list-link {
    margin-right: 15px;
}
.list-link_line {
    border-bottom: 3px solid #44C697;
}
.header_section-navigation-list-link:last-child {
    margin-right: 0;
}
.header_section-navigation-list-link-element {
    text-decoration: none;
    font-size: 18px;
    color: #1E2E36;
}
/*  */
.header_section-list-icon-button {
    display: flex;
    height: 105px;
    align-items: center;
}
.header_section-list {
    margin-right: 115px;

}
.header_section-list-products {
    display: flex;
}
.header_section-list-products-panel {
    margin-right: 15px;
}
.header_section-list-products-panel:last-child {
    margin-right: 0;
}
.header_section-list-products-panel-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header_section-list-products-panel-text {
    font-size: 18px;
    text-transform: uppercase;
    color: #1E2E36;
}
.header_section-list-products-panel-icon {
    margin-left: 3px;
}
.header_section-icon {}
.header_section-icon-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 36px;
    color: #44C697;
}
.header_section-icon-link-icon {
    margin-right: 15px;
}
.header_section-icon-link-text {
    
    color: #1E2E36;
}
.header_section-button {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header_section-button-basket {
    display: flex;
    align-items: center;
    border: none;
    width: 102px;
    height: 51px;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1E2E36;
    margin-right: 30px;
    background-color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
}
.header_section-button-basket:hover,
.header_section-button-basket:focus {
    background-color: #44C697;
}
.header_section-button-basket-icon {
    margin-right: 5px;
}
.header_section-button-order {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 278px;
    height: 51px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #44C697;
    border-radius: 3px;
    cursor: pointer;
}

/* Слайдер */
.slider {
    position: relative;
    margin-bottom: 100px;
}
.slider-background {
    display: flex;
    justify-content: center;
}
.slider_info {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:#FFFFFF;
    top: 0px;
    left: 115px;
    width: 462px;
    border-left: 15px solid #44C697;
    
}
.slider_info-title {
    margin-top: 115px;
    font-size: 64px;
    
}
.slider_info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}
.slider_info-box-title {
    font-size: 36px;
}
.slider_info-box-text {
    font-weight: normal;
    text-align: center;
    font-size: 36px;
    margin-top: 30px;
    line-height: 1.05;
}
.slider_info-box-btn {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 209px;
    height: 51px;
    background-color: #44C697;
    border-radius: 3px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}
.slider_info-nav {
    margin-top: 50px;
    margin-bottom: 101px;
}
.slider_info-nav-box {
    display: flex;
    align-items: baseline;
}
.slider_info-nav-counter {
    font-size: 36px;
}
.slider_info-nav-number {
    font-size: 24px;
}
.slider_info-nav-button {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.slider_info-nav-left,
.slider_info-nav-right {
    padding: 0;
    border: none;
    background-color: #ffffff;
}
.slider_info-nav-left {
    margin-right: 8px;
}

/* Наші переваги */

