.header_section-icon {
    display: flex;
    justify-content: center;
}
.header_section-icon-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    color: #44C697;
    @media screen and (min-width: 1920px) {
        font-size: 36px;
    }
}
.header_section-icon-link-logo {
    margin-right: 15px;
    fill: #1e2e36;
    @media screen and (min-width: 1920px) {
        width: 125px;
        height: 75px;
    }
}
.header_section-icon-link-text {
    color: #1E2E36;
}