.header_section-icon {
    display: flex;
    justify-content: center;
}
.header_section-icon-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    color: $secondary-bg-color;
    @media screen and (min-width: 1920px) {
        font-size: 36px;
    }
}
.header_section-icon-link-logo {
    margin-right: 15px;
    fill: $primary-text-color;
    @media screen and (min-width: 1920px) {
        width: 125px;
        height: 75px;
    }
}
.header_section-icon-link-text {
    color: $primary-text-color;
}