.header_section-icon {
    display: flex;
    justify-content: center;
}
.header_section-icon-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    color: #44C697;
}
.header_section-icon-link-logo {
    margin-right: 15px;
    fill: #1e2e36;
}
.header_section-icon-link-text {
    
    color: #1E2E36;
}