.header_section-navigation {
    display: none;
    max-width: 480px;
    &.active {
        position: absolute;
        top: 61px;
        left: 0;
        display: flex;
        width: 100%;
        height: 100vh;
        z-index: 5;
        padding: 25px;
        background-color: #44C697;
    }
    @media screen and (min-width: 768px) {
        display: block;
        max-width: 768px;
    }
}
.header_section-navigation-list {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}
.header_section-navigation-list-link {
    // margin-right: 15px;
    margin-bottom: 8px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:last-child {
        margin-bottom: 0;
    }
    @media screen and (min-width: 768px) {
        &:focus,
        &:hover {
            border-bottom: 3px solid #44C697;
        }
    }
    &:focus .header_section-navigation-list-link-element,
    &:hover .header_section-navigation-list-link-element {
        color: #ffffff;
        @media screen and (min-width: 768px) {
            color: #1E2E36;
        }
    }
    @media screen and (min-width: 768px) {
        margin-right: 15px;
        margin-bottom: 0;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.list-link_line {
    @media screen and (min-width: 768px) {
        border-bottom: 3px solid #44C697;
    }
}
.header_section-navigation-list-link-element {
    text-decoration: none;
    font-size: 12px;
    color: #1E2E36;
    @media screen and (min-width: 1366px) {
        font-size: 18px;
    }
}

.list-link_text {
    color: #ffffff;
    @media screen and (min-width: 768px) {
        color: #1E2E36;
    }
}